[submodule "pmm"]
	path = pmm
	url = git@github.com:percona/pmm.git
	branch = PMM-15347-om-integration-v3
[submodule "SEP"]
	path = SEP
	url = git@github.com:percona/SEP.git
	branch = PMM-15347-om-integration-v3
