[submodule "pmm"]
	path = pmm
	url = git@github.com:percona/pmm.git
	branch = PMM-15326-pom-inventory
[submodule "SEP"]
	path = SEP
	url = git@github.com:percona/SEP.git
	branch = PMM-15326-pom-inventory
